{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
<form method="post" action="">
    <h1>About</h1>
    <p>This site is a student project for CP1404 by Vincent. It is a fork of /flaskdemo by Lindsay Mark Ward.</p>
    <p>This project is created to complete the week 10 practical for CP1404</p>
</form>
{% endblock %}

{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>about</title>#}
{#</head>#}
{#<body>#}
{#<h1>About</h1>#}
{#<p>This site is a student project for CP1404 by Vincent. It is a fork of /flaskdemo by Lindsay Mark Ward.</p>#}
{#</body>#}
{#</html>#}